<div class="center" [class.gameOver]="isGameOver">
    <div class="words center">
        <!-- &nbsp;
        <button mat-stroked-button *ngFor="let w of words" class="wordButton" [class.wordFound]="w.found"
            (click)="speak(w.eng)">
            {{w.heb}}
            |
            {{w.eng}}
        </button> -->
        <!-- rowHeight="2:1" -->
        <mat-grid-list [cols]="2" [rowHeight]="44">
            <mat-grid-tile *ngFor="let w of words">
                <button mat-stroked-button class="wordButton" [class.wordFound]="w.found" (click)="speak(w.eng)">
                    {{w.heb}}
                    |
                    {{w.eng}}
                </button>
            </mat-grid-tile>
        </mat-grid-list>
    </div>

    <table class="center FIXME-CENTER-VERT">
        <tr *ngFor="let r of cells">
            <td *ngFor="let c of r" [class.cellSelected]="c.isSelected" [class.cellSolved]="c.isSolved" [class.isFlashed]="c.isFlashed"
                (click)="toggleCellSelection(c)">
                <!-- <button style="min-winth:0; border: none; background-color: transparent;"> -->
                {{c.letter}}
                <!-- </button> -->
            </td>
        </tr>
    </table>
</div>


<!-- {{cells | json}} -->

<!-- <button (click)="animateRestartGame()">debug</button> -->