:host {
  user-select: none;
}

.cellColor0 { color: white; background-color: chocolate;     transition: background-color 5000ms linear;}
.cellColor1 { color: white; background-color: blueviolet; transition: background-color 5000ms linear;}
.cellColor2 { color: white; background-color: cadetblue; transition: background-color 5000ms linear;}
.cellColor3 { color: white; background-color: crimson; transition: background-color 5000ms linear;}
.cellColor4 { color: white; background-color: darkslategrey; transition: background-color 5000ms linear;}

table {
  border-collapse: collapse;
  direction: ltr;
}

td {
  border: 1px solid rgba(137, 43, 226, 0.508);
  padding: 10px;
  width: 20px;
  min-width: 20px;
  max-width: 20px;
  height: 20px;
  min-height: 20px;
  max-height: 20px;
  font-size: 1.5em;
}

// fixme: apply only on non-touch screen. it is confusing on a touch screen.
// td:hover {
//   background-color: rgba(173, 216, 230, 0.464);
// }

td.cellSelected {
  background-color: darkblue;
  color: white;
}

td.cellSolved,
.wordFound {
  // pointer-events: none;
  background-color: darkgreen;
  color: white;
}

td.isFlashed {
  animation: rotation 1.5s linear, fadeIn 0.7s, colorTrans 1.5s linear;
  background-color: transparent !important;
  // background-color: yellow !important;
  color: black;
}


@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}

@keyframes colorTrans {
  from {
    color:rgba(245, 181, 122)
  }

  to {
    color: black;
  }
}



.words {
  margin: 16px 6px 0px 6px;
  // max-width: 400px;
}

.wordButton {
  width: 100%;
  margin-left: 3px;
  font-size: 18px;

}

.gameOver td:not(.cellSolved) {
  color: lightgray
}


.FIXME-CENTER-VERT {
  margin-top: 20px
}

