:host {
  user-select: none;
}

table {
  border-collapse: collapse;
  direction: ltr;
}

td {
  border: 1px solid rgba(137, 43, 226, 0.508);
  padding: 10px;
  width: 20px;
  min-width: 20px;
  max-width: 20px;
  height: 20px;
  min-height: 20px;
  max-height: 20px;
  font-size: 1.5em;
}

// fixme: apply only on non-touch screen. it is confusing on a touch screen.
// td:hover {
//   background-color: rgba(173, 216, 230, 0.464);
// }

td.cellSelected {
  background-color: darkblue;
  color: white;
}

td.cellSolved,
.wordFound {
  // pointer-events: none;
  background-color: darkgreen;
  color: white;
}

.words {
  margin: 16px 6px 0px 6px;
}

.wordButton {
  width: 100%;
  margin-left: 3px;
  font-size: 18px;

}

.gameOver td:not(.cellSolved) {
  color: lightgray
}


.FIXME-CENTER-VERT {
  margin-top: 20px
}
