:host {
  user-select: none;
}

table {
  border-collapse: collapse;
  direction: ltr;
}

td {
  border: 1px solid rgba(137, 43, 226, 0.508);
  padding: 10px;
  width: 20px;
  min-width: 20px;
  max-width: 20px;
  height: 20px;
  min-height: 20px;
  max-height: 20px;
  font-size: 1.5em;
}

td:hover {
  background-color: rgba(173, 216, 230, 0.464);
}

td.cellSelected {
  background-color: darkblue;
  color: white;
}

td.cellSolved,
.wordFound {
  // pointer-events: none;
  background-color: darkgreen;
  color: white;
}

.wordButton {
  margin-left: 3px;
}

.gameOver td:not(.cellSolved) {
  color: lightgray
}

#new-game-button {
  margin: 0 auto;
  display: block;
}


.FIXME-CENTER-VERT {
  margin-top: 50px
}
