h2 {
  text-align: center;
  color: blueviolet
}

.banks button {
  font-size: 18px;
  margin: 0px 2px;
  min-width: 100px;
}


mat-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

mat-radio-button {
  margin: 5px;
}

// FIXME - ugly !
div.sticky-modal-footer {
    position: relative;
    bottom: -85px;
}

// .sticky-modal-footer {
//   position: absolute;

//   bottom: 0;
//   left: 0;
//   width: 100%;

//   border-top: 1px solid #efefef;
//   background-color: white;

//   padding: 10px 24px;
// }


$palette-color1: #9e0142;
$palette-color2: #d53e4f;
$palette-color3: #f46d43;
$palette-color9: #fdae61;
$palette-color5: #fee08b;
$palette-color6: #e6f598;
$palette-color7: #abdda4;
$palette-color8: #66c2a5;
$palette-color4: #3288bd;
$palette-color10: #5e4fa2;

.bank-num-1 { color: white; background-color: $palette-color1;}
.bank-num-2 { color: white; background-color: $palette-color2;}
.bank-num-3 { color: white; background-color: $palette-color3;}
.bank-num-4 { color: white; background-color: $palette-color4;}
.bank-num-5 { color: white; background-color: $palette-color5;}
.bank-num-6 { color: white; background-color: $palette-color6;}
.bank-num-7 { color: white; background-color: $palette-color7;}
.bank-num-8 { color: white; background-color: $palette-color8;}
.bank-num-9 { color: white; background-color: $palette-color9;}
.bank-num-0 { color: white; background-color: $palette-color10;}