<h2 mat-dialog-title>משחק חדש</h2>
<!-- <h2 mat-dialog-title>
    <div style="text-align: center; margin-top: 10px; font-size: x-large; color: #9e0142; background-color: lightyellow; 
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 35%;
    ">
  מהדורת ראש השנה 🍎
</div>
</h2> -->

<mat-dialog-content>

  <!-- Difficulty selection -->
  <div style="margin-bottom: 12px;">
    <label style="font-weight: bold; margin-left: 8px;">קושי:</label>
    <mat-radio-group [(ngModel)]="difficulty" aria-label="Difficulty selection">
      <mat-radio-button value="קליל" style="margin-left: 8px;">קלי קלות</mat-radio-button>
      <mat-radio-button value="קל" style="margin-left: 8px;">קל</mat-radio-button>
      <mat-radio-button value="קשה" style="margin-left: 8px;">קשה</mat-radio-button>
      <mat-radio-button value="קשה מאוד">קשה מאוד</mat-radio-button>
      <!-- <mat-radio-button value="קליל" style="margin-left: 8px;">😃</mat-radio-button>
      <mat-radio-button value="קל" style="margin-left: 8px;">🙂</mat-radio-button>
      <mat-radio-button value="קשה" style="margin-left: 8px;">😠</mat-radio-button>
      <mat-radio-button value="קשה מאוד">😱</mat-radio-button> -->

    </mat-radio-group>
  </div>

  <hr>

  <mat-radio-group [(ngModel)]="lettersCase">
    <mat-radio-button value="lower">abc | אותיות קטנות</mat-radio-button>
    <mat-radio-button value="upper">ABC | אותיות גדולות</mat-radio-button>
  </mat-radio-group>

  <br>

  <div *ngIf="loading" style="text-align:center; margin: 20px 0;">
    <mat-spinner diameter="40"></mat-spinner>
    <div>טוען בנקים...</div>
  </div>

  <mat-grid-list *ngIf="!loading" [cols]="cols" rowHeight="2:1">
    @for (b of banks; track b; let i = $index) {
    <mat-grid-tile class="banks">
      <button [class]="'bank-num-' + (i+1)" [tabindex]="-1"
        [mat-dialog-close]="{bank: b.eng, isUpperCase: lettersCase === 'upper', randomColors: b.randomColors, gameOverSoundFile: b.gameOverSoundFile, gameOverImg: b.gameOverImg , wildcard: b.wildcard, difficulty: difficulty}"
        mat-stroked-button>
        {{b.heb}}
      </button>
    </mat-grid-tile>
    }
  </mat-grid-list>


</mat-dialog-content>