<mat-sidenav-container class="sidenav-container">
  <!-- fixedInViewport -->
  <!-- [opened]="(isHandset$ | async) === false" -->
  <mat-sidenav #drawer class="sidenav" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="false">
    <mat-toolbar>תפריט</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item *ngFor="let b of wordsBankService.getBanks()"
        [routerLink]="['/home' , {bank: b.eng}]">{{b.heb}}</a>
      <!-- <a mat-list-item [disabled]="true" href="#">צבעים</a>
      <a mat-list-item [disabled]="true" href="#">צבעים</a>
      <a mat-list-item [disabled]="true" href="#">שונות</a> -->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <!-- not in use any more -->
      <!-- <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button> -->
      <span>פאזל מילים לזוהר</span>
      &nbsp;
      <button style="min-width: 0; margin: 0" mat-stroked-button (click)="showEngWords = !showEngWords">
        <mat-icon *ngIf="showEngWords">
          visibility_off
        </mat-icon>
        <mat-icon *ngIf="!showEngWords">
          visibility
        </mat-icon>
      </button>
      
    </mat-toolbar>

    <!-- Add Content Here -->
    <div class="container">
      <div class="element">
        <router-outlet></router-outlet>
      </div>
    </div>


  </mat-sidenav-content>
</mat-sidenav-container>